
<div>
    <h1 class="text-danger">Nebula Web Portal</h1>
    <p class="lead">The Nebula web portal</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et justo lorem. 
        Mauris efficitur neque in metus vehicula, ac accumsan lacus gravida. Pellentesque 
        efficitur aliquam ligula mollis facilisis. In congue tellus non lectus efficitur, 
        auctor accumsan ligula scelerisque. Donec a lacus bibendum, tempus eros non, lobortis nibh.
    </p>
    <p>
        Phasellus vehicula velit quis maximus imperdiet. Aenean egestas leo sit amet elit 
        pulvinar bibendum. Aliquam sit amet metus in sem luctus bibendum. Maecenas 
        quam lacus, mattis ut mattis ut, egestas et ex.
    </p>
    <p>
        <a href="~/Home/Claims" class="btn btn-primary btn-lg">View Claims</a>
    </p>
</div>
