<!DOCTYPE html>
<html ng-app="app" ng-controller="LayoutCtrl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{siteName}</title>
    [css-bundle]
</head>
<body lang="en">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{iamHomeUrl}"><i class="fa fa-user-circle"></i> {iamName}</a>
            </div>
            <div class="navbar-collapse collapse">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <h3 class="signin">
                    Sign in to {clientName}
                </h3>
            </div>
        </div>
    </div>
    <div class="container" ng-cloak>
        <div class="row" ng-show="model.errorMessage">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                    <strong>Error:</strong>
                    {{model.errorMessage}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3" ng-show="model.loginUrl">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="form" method="post" action="{{model.loginUrl}}">
                            <anti-forgery-token token="model.antiForgery"></anti-forgery-token>
                            <fieldset>
                                <div class="form-group">
                                    <label for="username">Username or email address</label>
                                    <input required name="username" autofocus id="username" type="text" class="form-control" ng-model="model.username" maxlength="100">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input required id="password" name="password" type="password" class="form-control" ng-model="model.password" maxlength="100" autocomplete="off">
                                </div>
                                <p>
                                    <a class="font-small" href="#">Forgot Password?</a>
                                </p>
                                <div class="form-group">
                                    <button class="btn btn-success btn-block" ng-disabled="form.$invalid">Sign In</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="modelJson" type="application/json">
        {model}
    </script>
    [js-bundle]
</body>
</html>

