@using System.Security.Claims

<div class="container">
    <h3>List of Claims</h3>
    <div class="row">
        <div class="col-md-6">
            @{
                var user = User as ClaimsPrincipal;
            }
            @if (user != null)
            {
                <ul>
                    @foreach (var claim in user.Claims)
                    {
                        <li>
                            <strong>@claim.Type</strong><br/>
                            <em>@claim.Value</em>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
    <hr/>
    <h3>UserInfo Endpoint</h3>
    <pre>@ViewBag.Json</pre>
    <hr/>
    <p>
        <a class="btn btn-primary" href="~/Home/SecuredApiViewer">Access Nebula API</a>
    </p>
</div>