
<div class="container">
    <h1 class="text-primary">Nebula Web Portal</h1>
    <p class="lead">Welcome to the Nebula Web Portal (<span class="text-danger">with secured API access and UserInfo endpoint demo</span>)</p>
    <hr/>
    <p>
        <a href="~/Home/Claims" class="btn btn-primary btn-lg">View Claims</a>
    </p>
</div>
