
<div class="container">
    <h1 class="text-primary">Nebula Web Portal</h1>
    <p class="lead">Welcome to the Nebula Web Portal - <span class="label label-danger">Implicit Flow</span> <span class="label label-warning">id_token</span> <span class="label label-warning">access_token</span></p>
    <hr/>
    <ul>
        <li>
            <p>API access using Client Credentials and Access Token</p>
        </li>
        <li>
            <p>Retrieve user information using an access token.</p>
        </li>
    </ul>
    @if (User.Identity.IsAuthenticated)
    {
        <p>You are logged in!</p>
        <p>
            <a href="~/Home/Claims">View Claims</a>
        </p>
    }
    else
    {
        <p>
            <a href="~/Home/Claims" class="btn btn-primary btn-lg">Sign in to continue</a>
        </p>
    }
</div>
