
<div class="container">
    <h1 class="text-primary">Nebula Web Portal</h1>
    <p class="lead">Welcome to the Nebula Web Portal - <span class="label label-danger">Implicit Flow</span> <span class="label label-warning">id_token</span> <span class="label label-warning">access_token</span></p>
    <p>The <strong>access_token</strong> will be used to call an API (<a href="https://localhost:44330/identity">https://localhost:44330/identity</a>, with bearer token authentication) and to get the user info from the UserInfo endpoint.</p>
    <hr/>
    <p>
        <a href="~/Home/Claims" class="btn btn-primary btn-lg">View Claims</a>
    </p>
</div>
