
<div class="jumbotron">
    <h1>Nebula Web Portal</h1>
    <p class="lead">Welcome to the Nebula Web Portal</p>
    <p>
        <a href="~/Home/Claims" class="btn btn-primary btn-lg">View Claims</a>
    </p>
</div>
