
<h2>Secured Api Viewer - Client Credentials</h2>
<hr />
<h4>The API is secured using bearer authentication.</h4>
<p>The bearer token was set using an 'Client Credentials'.</p>
<pre>@ViewBag.Json</pre>

